<div class="mk-faq-answer-container">
  <input type="checkbox" id="mk-faq-{{ block.id }}" class="mk-faq-answer-input">
  <label for="mk-faq-{{ block.id }}" class="mk-faq-answer-label">
    <span class="mk-faq-answer-question text-20 md:text-18 ">{{ block.settings.question }}</span>
    <span class="mk-faq-answer-icon">
      {{ 'icon-plus.svg' | inline_asset_content }}
    </span>
    <span class="mk-faq-answer-icon-minus">
      {{ 'icon-minus.svg' | inline_asset_content }}
    </span>
  </label>
  <div class="mk-faq-answer text-18 md:text-16 ">
    {{ block.settings.answer }}
  </div>
</div>
{% stylesheet %}
  .mk-faq-answer-container {
    padding: 24px 0;
    color: #404040;
    line-height: 150%; /* 24px */
    letter-spacing: -0.16px;
    border-top: 1px solid #dadada;
  }

  .mk-faq-answer-input,
  .mk-faq-answer,
  .mk-faq-answer-icon-minus {
    display: none;
  }
  .mk-faq-answer-question {
    font-weight: 600;
  }
  .mk-faq-answer-input:checked + .mk-faq-answer-label .mk-faq-answer-icon {
    display: none;
  }
  .mk-faq-answer-input:checked + .mk-faq-answer-label .mk-faq-answer-icon-minus,
  .mk-faq-answer-input:checked + .mk-faq-answer-label + .mk-faq-answer {
    display: block;
    transition: all 0.3s ease;
  }

  .mk-faq-answer-label {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 20px;
  }
  .mk-faq-answer {
    margin-top: 18px;
    padding-right: 44px;
  }
  .mk-faq-answer-icon,
  .mk-faq-answer-icon-minus {
    min-width: 24px;
    width: 24px;
    height: 24px;
  }
  .mk-faq-answer-icon svg,
  .mk-faq-answer-icon-minus svg {
    width: 100%;
    height: 100%;
  }

  @media (max-width: 768px) {
    .mk-faq-answer-container {
      padding: 16px 0;
    }

    .mk-faq-answer-icon,
    .mk-faq-answer-icon-minus {
      min-width: 20px;
      width: 20px;
      height: 20px;
    }
  }
{% endstylesheet %}

{% schema %}
{
  "name": "mk FAQ",
  "settings": [
    {
      "type": "text",
      "id": "question",
      "label": "Question"
    },
    {
      "type": "richtext",
      "id": "answer",
      "label": "Answer"
    }
  ],
  "presets": [
    {
      "name": "mk FAQ"
    }
  ]
}
{% endschema %}
