{% liquid
  assign block_settings = block.settings
  assign menu = block_settings.menu.links
  assign color_scheme = block_settings.color_scheme
  assign accordion_icon = block_settings.accordion_icon | default: 'caret'
%}

{% if menu != blank %}
  <div
    class="
      menu
      spacing-style
      {% if block_settings.inherit_color_scheme == false %} color-{{ color_scheme }}{% endif %}
    "
    style="
      --spacing--size: {{ block_settings.menu_spacing }}px;
      {% render 'spacing-style', settings: block_settings %}
    "
    {{ block.shopify_attributes }}
  >
    {% if menu %}
      <ul class="list-unstyled menu__level-1">
        {% for link in menu %}
          <li class="menu__item">
            {% if link.links.size > 0 %}
              <accordion-custom
                class="menu__item__accordion menu--{{ accordion_icon }}"
                data-disable-on-desktop="true"
                open-by-default-on-desktop
              >
                <details class="menu__item__details">
                  <summary class="menu__item__summary">
                    <a
                      href="{{ link.url }}"
                      class="menu__item__link menu__item__link--parent text-bold text-20"
                    >
                      {{ link.title }}
                    </a>
                    <span class="menu__item__toggle svg-wrapper icon-caret icon-animated">
                      {{- 'icon-caret.svg' | inline_asset_content -}}
                    </span>
                    <span class="menu__item__toggle svg-wrapper icon-plus">
                      {{- 'icon-plus.svg' | inline_asset_content -}}
                    </span>
                  </summary>
                  <div class="menu__item__content">
                    <ul class="menu__level-2 sub-menu">
                      {% for child_link in link.links %}
                        <li class="menu__item menu__item--level-2">
                          <a href="{{ child_link.url }}" class="menu__item__link  text-18">
                            {{- child_link.title -}}
                          </a>

                          {% if child_link.links.size > 0 %}
                            <ul class="menu__level-3">
                              {% for grandchild_link in child_link.links %}
                                <li class="menu__item menu__item--level-3">
                                  <a href="{{ grandchild_link.url }}" class="menu__item__link text-16">
                                    {{- grandchild_link.title -}}
                                  </a>
                                </li>
                              {% endfor %}
                            </ul>
                          {% endif %}
                        </li>
                      {% endfor %}
                    </ul>
                  </div>
                </details>
              </accordion-custom>
            {% else %}
              <a href="{{ link.url }}" class="menu__item__link text-bold text-20">
                {{ link.title }}
              </a>
            {% endif %}
          </li>
        {% endfor %}
      </ul>
    {% endif %}
  </div>
{% endif %}

{% stylesheet %}
  .menu {
    width: 100%;
  }

  /* 一级菜单横向排列 - Grid 布局，一行三项 */
  .menu__level-1 {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: var(--spacing--size);
    list-style: none;
    padding: 0;
    margin: 0;
    align-items: start;
  }

  .menu__item {
    position: relative;
  }

  /* 一级菜单项样式 */
  .menu__level-1 > .menu__item {
    width: 100%;
  }

  .menu__item__link {
    display: block;
    text-decoration: none;
  }

  /* 统一一级菜单项的padding和margin */
  .menu__level-1 > .menu__item > .menu__item__link {
    padding-top: 0;
    padding-bottom: 0;
    margin: 0;
  }

  .menu__level-1 > .menu__item > .menu__item__accordion > .menu__item__details > .menu__item__summary {
    padding-top: 0;
    padding-bottom: 0;
    margin: 0;
  }

  .menu__level-1
    > .menu__item
    > .menu__item__accordion
    > .menu__item__details
    > .menu__item__summary
    > .menu__item__link--parent {
    padding-top: 0;
    padding-bottom: 0;
    margin: 0;
  }

  /* 一级菜单项手风琴样式 */
  .menu__item__accordion {
    width: 100%;
  }

  .menu__item__details {
    width: 100%;
  }

  .menu__item__summary {
    display: flex;
    align-items: center;
    justify-content: space-between;
    list-style: none;
    cursor: pointer;
  }

  .menu__item__summary::-webkit-details-marker {
    display: none;
  }

  .menu__item__summary::marker {
    display: none;
  }

  .menu__item__link--parent {
    flex: 1;
  }

  .menu__item__toggle {
    display: none;
    margin-left: 0.5em;
    flex-shrink: 0;
  }

  .menu__item__content {
    margin-top: calc(var(--spacing--size) / 2);
  }

  /* 二级菜单纵向排列 */
  .menu__level-2 {
    display: flex;
    flex-direction: column;
    list-style: none;
    padding: 0;
    margin: 0;
    margin-top: calc(var(--spacing--size) / 2);
    gap: calc(var(--spacing--size) / 2);
  }

  .menu__item--level-2 {
    margin: 0;
  }

  /* 三级菜单 */
  .menu__level-3 {
    display: flex;
    flex-direction: column;
    list-style: none;
    padding: 0;
    margin: 0;
    margin-top: calc(var(--spacing--size) / 2);
    padding-left: 1em;
    gap: calc(var(--spacing--size) / 2);
  }

  .menu__item--level-3 {
    margin: 0;
  }

  @media screen and (max-width: 749px) {
    /* 移动端：一级菜单改为单列 */
    .menu__level-1 {
      grid-template-columns: 1fr;
    }

    /* 移动端：显示手风琴图标 */
    .menu__item__toggle {
      display: block;
    }

    /* 移动端：手风琴关闭时隐藏二级菜单 */
    .menu__item__details:not([open]) .menu__item__content {
      display: none;
    }

    /* 移动端：手风琴打开时显示二级菜单 */
    .menu__item__details[open] .menu__item__content {
      display: block;
    }

    /* 移动端：点击链接时阻止跳转，展开/折叠菜单 */
    .menu__item__summary .menu__item__link--parent {
      pointer-events: none;
    }

    /* 移动端：根据图标类型显示/隐藏 */
    .menu--caret .menu__item__toggle.icon-plus,
    .menu--plus .menu__item__toggle.icon-caret {
      display: none;
    }
  }

  /* 根据图标类型显示/隐藏 */
  .menu--caret .menu__item__toggle.icon-plus,
  .menu--plus .menu__item__toggle.icon-caret {
    display: none;
  }

  /* 桌面端：手风琴始终展开，不显示图标 */
  @media screen and (min-width: 750px) {
    .menu__item__toggle {
      display: none;
    }

    .menu__item__details {
      display: block;
    }

    .menu__item__summary {
      cursor: default;
    }

    .menu__item__content {
      display: block !important;
    }
  }
{% endstylesheet %}

{% schema %}
{
  "name": "t:names.menu",
  "tag": null,
  "settings": [
    {
      "type": "link_list",
      "id": "menu",
      "label": "t:settings.menu",
      "default": "main-menu"
    },
    {
      "type": "text",
      "id": "heading",
      "label": "t:settings.heading"
    },
    {
      "type": "header",
      "content": "t:content.appearance"
    },
    {
      "type": "range",
      "id": "menu_spacing",
      "label": "t:settings.vertical_gap",
      "min": 0,
      "max": 50,
      "step": 1,
      "unit": "px",
      "default": 12
    },
    {
      "type": "checkbox",
      "id": "show_as_accordion",
      "label": "t:settings.show_as_accordion",
      "default": false
    },
    {
      "type": "select",
      "id": "accordion_icon",
      "label": "t:settings.icon",
      "options": [
        {
          "value": "caret",
          "label": "t:options.caret"
        },
        {
          "value": "plus",
          "label": "t:options.plus"
        }
      ],
      "default": "caret",
      "visible_if": "{{ block.settings.show_as_accordion == true }}"
    },
    {
      "type": "checkbox",
      "id": "accordion_dividers",
      "label": "t:settings.dividers",
      "default": false,
      "visible_if": "{{ block.settings.show_as_accordion == true }}"
    },
    {
      "type": "checkbox",
      "id": "inherit_color_scheme",
      "label": "t:settings.inherit_color_scheme",
      "default": true
    },
    {
      "type": "color_scheme",
      "id": "color_scheme",
      "label": "t:settings.color_scheme",
      "default": "scheme-1",
      "visible_if": "{{ block.settings.inherit_color_scheme == false }}"
    },
    {
      "type": "header",
      "content": "t:content.typography"
    },
    {
      "type": "select",
      "id": "heading_preset",
      "label": "t:settings.heading_preset",
      "options": [
        {
          "value": "",
          "label": "t:options.default"
        },
        {
          "value": "paragraph",
          "label": "t:options.paragraph"
        },
        {
          "value": "h1",
          "label": "t:options.h1"
        },
        {
          "value": "h2",
          "label": "t:options.h2"
        },
        {
          "value": "h3",
          "label": "t:options.h3"
        },
        {
          "value": "h4",
          "label": "t:options.h4"
        },
        {
          "value": "h5",
          "label": "t:options.h5"
        },
        {
          "value": "h6",
          "label": "t:options.h6"
        }
      ],
      "default": "h3"
    },
    {
      "type": "select",
      "id": "link_preset",
      "label": "t:settings.link_preset",
      "options": [
        {
          "value": "",
          "label": "t:options.default"
        },
        {
          "value": "paragraph",
          "label": "t:options.paragraph"
        },
        {
          "value": "h1",
          "label": "t:options.h1"
        },
        {
          "value": "h2",
          "label": "t:options.h2"
        },
        {
          "value": "h3",
          "label": "t:options.h3"
        },
        {
          "value": "h4",
          "label": "t:options.h4"
        },
        {
          "value": "h5",
          "label": "t:options.h5"
        },
        {
          "value": "h6",
          "label": "t:options.h6"
        }
      ],
      "default": "paragraph"
    },
    {
      "type": "header",
      "content": "t:content.padding"
    },
    {
      "type": "range",
      "id": "padding-block-start",
      "label": "t:settings.top",
      "min": 0,
      "max": 100,
      "step": 1,
      "unit": "px",
      "default": 0
    },
    {
      "type": "range",
      "id": "padding-block-end",
      "label": "t:settings.bottom",
      "min": 0,
      "max": 100,
      "step": 1,
      "unit": "px",
      "default": 0
    },
    {
      "type": "range",
      "id": "padding-inline-start",
      "label": "t:settings.left",
      "min": 0,
      "max": 100,
      "step": 1,
      "unit": "px",
      "default": 0
    },
    {
      "type": "range",
      "id": "padding-inline-end",
      "label": "t:settings.right",
      "min": 0,
      "max": 100,
      "step": 1,
      "unit": "px",
      "default": 0
    }
  ],
  "presets": [
    {
      "name": "t:names.menu",
      "category": "t:categories.links"
    }
  ]
}
{% endschema %}
