<style>
  .mk-columns {
    padding: 60px 0;
  }
  .mk-columns__inner {
    background-color: var(--bg-color);
    padding-block: 40px;
    display: flex;
    flex-direction: column;
    gap: 40px;
  }
  .mk-columns__item-content {
    display: grid;
    grid-template-columns: repeat({{ section.settings.columns }}, 1fr);
    gap: 20px;
  }
  @media (max-width: 768px) {
    .mk-columns__item-content {
      grid-template-columns:  1fr;
    }
  }
</style>
<div class="mk-columns color-{{ section.settings.color_scheme }}">
  <div class="mk-columns__inner mk-container" style="--bg-color: {{ section.settings.background_color }};">
    <div class="mk-columns__item-header">
      {% if section.settings.title != blank %}
        <h2 class="text-{{ section.settings.title_size_pc }} md:text-{{ section.settings.title_size_mb }}">
          {{ section.settings.title }}
        </h2>
      {% endif %}
      {% if section.settings.description != blank %}
        <p class="text-{{ section.settings.text_size_pc }} md:text-{{ section.settings.text_size_mb }}">
          {{ section.settings.description }}
        </p>
      {% endif %}
    </div>
    <div class="mk-columns__item-content">
      {% content_for 'blocks' %}
    </div>
  </div>
</div>

{% schema %}
{
  "name": "MK Columns",
  "settings": [
    {
      "type": "color_scheme",
      "id": "color_scheme",
      "label": "Color Scheme",
      "default": "scheme-1"
    },
    {
      "type": "color",
      "id": "background_color",
      "label": "Background Color",
      "default": "#F7EBDD"
    },
    {
      "type": "text",
      "id": "title",
      "label": "Title",
      "default": "Our Services"
    },

    {
      "type": "select",
      "id": "title_size_pc",
      "label": "Title Size PC",
      "options": [
        {
          "value": "16",
          "label": "16"
        },
        {
          "value": "18",
          "label": "18"
        },
        {
          "value": "20",
          "label": "20"
        },
        {
          "value": "22",
          "label": "22"
        },
        {
          "value": "24",
          "label": "24"
        },
        {
          "value": "28",
          "label": "28"
        },
        {
          "value": "32",
          "label": "32"
        },
        {
          "value": "36",
          "label": "36"
        },
        {
          "value": "40",
          "label": "40"
        },
        {
          "value": "48",
          "label": "48"
        }
      ],
      "default": "48"
    },
    {
      "type": "select",
      "id": "title_size_mb",
      "label": "Title Size Mobile",
      "options": [
        {
          "value": "14",
          "label": "14"
        },
        {
          "value": "16",
          "label": "16"
        },
        {
          "value": "18",
          "label": "18"
        },
        {
          "value": "20",
          "label": "20"
        },

        {
          "value": "22",
          "label": "22"
        },
        {
          "value": "24",
          "label": "24"
        },
        {
          "value": "28",
          "label": "28"
        },
        {
          "value": "32",
          "label": "32"
        },
        {
          "value": "36",
          "label": "36"
        },
        {
          "value": "40",
          "label": "40"
        },
        {
          "value": "48",
          "label": "48"
        }
      ],
      "default": "32"
    },
    {
      "type": "richtext",
      "id": "description",
      "label": "Description",
      "default": "<p>We offer a wide range of services to help you achieve your goals.</p>"
    },
    {
      "type": "select",
      "id": "text_size_pc",
      "label": "Text Size PC",
      "options": [
        {
          "value": "16",
          "label": "16"
        },
        {
          "value": "18",
          "label": "18"
        },
        {
          "value": "20",
          "label": "20"
        },
        {
          "value": "22",
          "label": "22"
        },
        {
          "value": "24",
          "label": "24"
        },
        {
          "value": "28",
          "label": "28"
        },
        {
          "value": "32",
          "label": "32"
        },
        {
          "value": "36",
          "label": "36"
        },
        {
          "value": "40",
          "label": "40"
        },
        {
          "value": "48",
          "label": "48"
        }
      ],
      "default": "48"
    },
    {
      "type": "select",
      "id": "text_size_mb",
      "label": "Text Size Mobile",
      "options": [
        {
          "value": "14",
          "label": "14"
        },
        {
          "value": "16",
          "label": "16"
        },
        {
          "value": "18",
          "label": "18"
        },
        {
          "value": "20",
          "label": "20"
        },

        {
          "value": "22",
          "label": "22"
        },
        {
          "value": "24",
          "label": "24"
        },
        {
          "value": "28",
          "label": "28"
        },
        {
          "value": "32",
          "label": "32"
        },
        {
          "value": "36",
          "label": "36"
        },
        {
          "value": "40",
          "label": "40"
        },
        {
          "value": "48",
          "label": "48"
        }
      ],
      "default": "32"
    },
    {
      "type": "range",
      "id": "columns",
      "label": "Columns",
      "default": 3,
      "min": 2,
      "max": 5,
      "step": 1
    }
  ],
  "blocks": [
    {
      "type": "group"
    }
  ],
  "presets": [
    {
      "name": "MK Columns"
    }
  ]
}
{% endschema %}
